# SciKit Learn

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv("Downloads/1.01. Simple linear regression.csv")

In [3]:
data

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [4]:
X = data['SAT']
y = data['GPA']

In [5]:
X.shape

(84,)

In [6]:
y.shape

(84,)

In [7]:
X_matrix = X.values.reshape(-1,1)
X_matrix.shape

(84, 1)

##Regression itself

In [8]:
reg = LinearRegression()

In [9]:
reg.fit(X_matrix,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## R - Squared

In [10]:
reg.score(X_matrix,y)

0.40600391479679765

## Coefficents

In [11]:
x=reg.coef_
x.reshape(-1,1).shape

(1, 1)

## Intercept

In [12]:
reg.intercept_

0.275040299660279

## making predicions

In [16]:
x =np.array(1740).reshape(-1,1)
print(x.shape)
reg.predict(x)

(1, 1)

array([3.15593751])

In [17]:
new_data = pd.DataFrame(data=[1740,1899],columns=["SAT"])
new_data

    SAT
0  1740
1  1899

In [18]:
reg.predict(new_data)

array([3.15593751, 3.41919191])